.blog {
  padding: 4rem 1rem;
  background: #fff;
  margin-bottom: 8rem;
}

.blog h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color:#a88f63;
  text-align: center;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header__section h2 {
  font-size: 2rem;
  color: #BCA16A;
  font-weight: 800;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.excerpt {
  font-size: 0.95rem;
  color: #a88f63;
  margin: 0.8rem 0;
  line-height: 1.5;
}

