.hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}
.hero__title{
  font-size: 200px;
}


.video {
  position: absolute !important;
  top: 0; left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(34,55,144,0.6));
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 2;
  padding: 2rem;
}

.content h1 {
  font-size: 3rem;
  font-weight: 800;
}
.content h1 span {
  color: var(--yellow);
}

.content p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.imagotipo {
  width: 500px;
  margin: 2rem auto 0;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
